.SideItem {
  padding: 10px;
  transition: ease 0.2s;

  a {
    padding-left: 34px;
    display: inline-block;
    width: 80%;
  }

  &:hover {
    background-color: #eee;
  }

}

.ProfileIcon {
  background: 10px url("../../../icons/user-circle-solid.svg") no-repeat;
  background-size: 20px;
}

.UsersIcon {
  background: 10px url("../../../icons/users-solid.svg") no-repeat;
  background-size: 20px;
}

.MessagesIcon {
  background: 10px url("../../../icons/comments-solid.svg") no-repeat;
  background-size: 20px;
}

.NewsIcon {
  background: 10px url("../../../icons/newspaper-solid.svg") no-repeat;
  background-size: 20px;
}

.SettingsIcon {
  background: 10px url("../../../icons/cog-solid.svg") no-repeat;
  background-size: 20px;
}