
.Pagination {
  display: flex;
  justify-content: center;
  color: #97c0f4;

  &-ActiveItem {
    color: #6195da;
    font-weight: bold;
  }

  span {
    background-color: white;
    font-size: 22px;
    border-radius: 4px;
    display: inline-block;
    min-width: 27px;
    line-height: 30px;
    text-align: center;
    margin: 0 4px;
    padding: 3px;
    box-shadow: 0 0 8px 1px lightgrey;
    cursor: pointer;
  }

  button {
    margin: 0 10px;
  }
}