.Users {
  padding: 25px;
  //grid-area: messages;
  background-color: lightblue;

  span {
    cursor: pointer;
  }

  button {
    margin-bottom: 20px;
    padding: 5px 20px;
  }

  p {
    margin: 0;
  }

  .UserItem {
    padding: 10px 10px;
    margin-bottom: 15px;
    background-color: lightcyan;
    border-radius: 4px;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 15px;
    }
  }
}