.Error {
  span {
    color: crimson;
    font-weight: bold;
    font-size: 18px;
    width: 320px;
    padding: 5px 0;

    &::before {
      content: '';
      background-image: url("../../../icons/exclamation-circle-solid.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      height: 20px;
      width: 24px;
      display: inline-block;
      transform: translateY(2px);
    }
  }

  &_input {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 5px 10px 10px 0;

    span {
      padding-top: 10px;
    }
  }

  &_textarea {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }
}