.Header {
  width: 100%;
  background-color: lemonchiffon;
  grid-area: header;
  display: flex;
  justify-content: flex-end;

  background-image: url("../../img/HeaderLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 20px;

  .HeaderLogin {
    padding: 15px 20px;
    a {
      text-decoration: none;
      color: chocolate;
    }
  }

  .HeaderLogout {
    display: flex;
    justify-content: space-between;
    width: 170px;
  }

  img {
    width: 80px;
    height: 65px;
    margin-left: 10px;
  }
}
