.ProfileInfo {
  margin: 0;
  padding: 20px;
}

.ProfileName {
  color: #94b5e1;
  padding: 10px 5px;
}

.ProfileImage {

  &-Photo {
    img {
      width: 300px;
      border-radius: 8px;
    }
  }

  &-Choose {
    padding: 10px 0;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      //background-color: #b0c4de;
      color: white;
      font-size: 18px;
      border-radius: 3px;
      font-weight: bold;
      box-shadow: 1px 2px 15px -5px grey;
      outline: none;
      padding: 5px 42px 5px 10px;
      cursor: pointer;
      transition: ease-in-out 0.2s;
      background: 95% #b0c4de url("../../../icons/image-regular.svg") no-repeat;
      background-size: 25px;

      &:hover {
        background-color: #80a0c9;
      }
    }
  }
}

.ProfileStatus {
  display: inline-block;
  cursor: pointer;
  padding-top: 20px;

  input {
    margin: 0;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', serif;
    width: 230px;
  }


  p {
    display: inline-block;
    padding: 7px 10px;
    margin: 0;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    border: 1px lightsteelblue dashed;
    cursor: pointer;
    width: 230px;
  }
}