.ProfileInfo {
  margin: 0;
  padding: 20px;
}

.ProfileName {
  color: #94b5e1;
  padding: 10px 5px;
}

.ProfileImage {

  &-Photo {
    img {
      width: 300px;
      border-radius: 8px;
    }
  }

  &-Choose {
    padding: 10px 0;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      //background-color: #b0c4de;
      color: white;
      font-size: 18px;
      border-radius: 3px;
      font-weight: bold;
      box-shadow: 1px 2px 15px -5px grey;
      outline: none;
      padding: 5px 42px 5px 10px;
      cursor: pointer;
      transition: ease-out 0.1s;
      background: 95% #b0c4de url("../../../icons/image-regular.svg") no-repeat;
      background-size: 25px;
      &:hover {
        background-color: cadetblue;
      }
    }
  }
}

.ProfileStatus {
  display: inline-block;

  input {
    margin: 12px 0;
    padding: 5px;
    border: none;
    font-size: 20px;
  }

  &-Input {
    padding: 10px 0;
  }

  p {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    transition: ease-out 0.1s;
    color: white;
    text-shadow: 2px 2px 10px black;

    &:hover {
      background-color: #88b8c7;
    }
  }
}