.Login {
  background-color: white;
  box-shadow: 0 0 8px 1px lightgrey;
  border-radius: 5px;
  padding: 25px 40px;

  &-TestAccount {
    text-align: center;
  }
}


.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RememberMeForm {
  display: flex;
}