.ProfileWall {
  margin: 0;
  padding: 20px;
}

.AddPost {
  padding-bottom: 15px;

  &-Textarea {

    textarea {
      height: 50px;
      border-color: lightsteelblue;
      border-radius: 5px;
      padding: 5px;
    }
  }

  &-Button {
    padding: 10px 0;
  }
}